.quadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 100px;

}

.quadro img{
    opacity: 0;
    position: absolute;
    object-fit: cover;


}
.quadro img.selected{
    opacity: 1;
}